.wrapper {
  max-width: 1062px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box; }

.announcement-bar {
  background-color: #a0c5db;
  width: 100%;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .announcement-bar_description {
    display: flex; }
  .announcement-bar_text-updated {
    font-size: 14px;
    font-family: 'TTNorms',sans-serif;
    color: #ffffff; }
  .announcement-bar_text-learn {
    font-size: 14px;
    font-family: 'TTNorms',sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-left: 10px;
    border-bottom: 1px solid #ffffff;
    text-decoration: none; }

.main-title {
  font-family: TTNorms;
  font-weight: bold;
  line-height: 1.18;
  color: #363636; }

.main-text {
  font-family: TTNorms;
  font-size: 16px;
  line-height: 1.63;
  color: #383838; }

.section-tabs {
  background-color: #f4f4f4;
  padding: 61px 0 70px; }
  .section-tabs_title {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 9px;
    font-size: 34px;
    text-align: center; }
    @media (max-width: 600px) {
      .section-tabs_title {
        font-size: 28px; } }
  .section-tabs_text {
    width: 100%;
    max-width: 623px;
    margin: 0 auto 59px;
    text-align: center; }
  .section-tabs_box-headings {
    width: 100%;
    max-width: 707px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 38px; }
    @media (max-width: 760px) {
      .section-tabs_box-headings {
        display: none;
        margin: 0; } }
  .section-tabs .slide-mobile {
    display: none; }
    @media (max-width: 760px) {
      .section-tabs .slide-mobile {
        display: block; } }
    @media (max-width: 760px) {
      .section-tabs .slide-mobile {
        display: flex;
        justify-content: center; } }
  .section-tabs_headings-link {
    font-family: TTNorms;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #ababab;
    cursor: pointer; }
    @media (max-width: 760px) {
      .section-tabs_headings-link {
        width: 8px;
        height: 8px;
        margin: 0 10px 0 0;
        border-radius: 50%;
        background-color: #9a9a9a; } }
  .section-tabs .active, .section-tabs_headings-link:hover {
    color: #4b94c6; }
  .section-tabs_container-panels {
    background-color: #ffffff;
    width: 100%;
    max-width: 1062px;
    margin: 0 auto;
    padding: 62px 73px 129px 65px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 0 44px 10px #dedede; }
    @media (max-width: 960px) {
      .section-tabs_container-panels {
        padding: 22px 21px 25px 21px; } }
    @media (max-width: 760px) {
      .section-tabs_container-panels {
        padding: 22px 21px 33px 21px;
        margin: 0 0 20px 0; } }
  .section-tabs_block-description {
    width: 100%;
    max-width: 372px; }
    @media (max-width: 1024px) {
      .section-tabs_block-description {
        margin-right: 50px; } }
    @media (max-width: 760px) {
      .section-tabs_block-description {
        max-width: 100%;
        margin-right: 0; } }
  @media (max-width: 1024px) {
    .section-tabs_main-content {
      margin-right: 50px; } }
  @media (max-width: 1024px) {
    .section-tabs_main-content {
      margin-right: 0; } }
  .section-tabs_block-description-title {
    font-size: 24px;
    line-height: 1.33; }
    @media (max-width: 760px) {
      .section-tabs_block-description-title {
        text-align: center;
        margin: 0 auto 24px; } }
    @media (max-width: 480px) {
      .section-tabs_block-description-title {
        width: 40%;
        text-align: center; } }
  .section-tabs_block-description-text {
    font-size: 16px;
    line-height: 1.63;
    color: #4e4e4e;
    margin: 22px 0 0 0; }
  .section-tabs_block-circle {
    width: 100%;
    max-width: 415px;
    height: 415px; }
  .section-tabs_block-circle-image {
    width: 100%;
    max-width: 415px;
    height: 415px; }
    @media (max-width: 1024px) {
      .section-tabs_block-circle-image {
        max-width: 100%;
        width: 415px;
        height: auto; } }
    @media (max-width: 760px) {
      .section-tabs_block-circle-image {
        display: none;
        width: 100%; } }
  .section-tabs .tab-mobile {
    display: none; }
    @media (max-width: 760px) {
      .section-tabs .tab-mobile {
        display: block;
        max-width: 100%;
        padding: 0 11px;
        box-sizing: border-box;
        height: auto; }
        .section-tabs .tab-mobile .section-tabs_block-circle-image {
          display: block; } }

.section-future {
  background-color: #ffffff;
  padding: 61px 0 112px 0; }
  .section-future_title {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px; }
    @media (max-width: 600px) {
      .section-future_title {
        font-size: 28px; } }
  .section-future_paragraph {
    text-align: center;
    width: 100%;
    max-width: 600px;
    height: 86px;
    margin: 0 auto 47px; }
  .section-future_tab {
    display: flex;
    justify-content: space-between; }
  @media (max-width: 1024px) {
    .section-future_tab-panel {
      margin-right: 50px; } }
  @media (max-width: 760px) {
    .section-future_tab-panel {
      margin-right: 0; } }
  .section-future_tab-description {
    width: 100%;
    max-width: 372px; }
    @media (max-width: 760px) {
      .section-future_tab-description {
        max-width: 100%; } }
  .section-future_tab-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ababab;
    cursor: pointer; }
  .section-future .active-drop, .section-future_tab-title:hover {
    color: #383838; }
  .section-future_tab-block-swype {
    display: flex;
    justify-content: space-between; }
  .section-future_tab-paragraph {
    font-size: 16px;
    color: #383838; }
  .section-future_tab-line {
    border-bottom: 1px solid #d7d7d7;
    margin: 22px 0 22px 0; }
  .section-future_tab-content-image {
    width: 100%;
    max-width: 467px;
    height: 428px;
    box-shadow: 0 0 44px 10px #dedede; }
    @media (max-width: 1024px) {
      .section-future_tab-content-image {
        max-width: 100%;
        width: 467px;
        height: auto; } }
    @media (max-width: 760px) {
      .section-future_tab-content-image {
        display: none;
        width: 100%; } }
  .section-future_tab-arrow-block {
    height: 15px; }
  .section-future_tab-arrow-image {
    transform: rotate(180deg); }
  .section-future_tab-arrow-image_active {
    transform: rotate(0deg); }
  .section-future .image-mobile {
    width: 100%;
    height: 428px;
    display: none; }
    @media (max-width: 760px) {
      .section-future .image-mobile {
        display: block;
        max-width: 100%;
        padding: 0 11px;
        box-sizing: border-box;
        margin: 11px auto 24px;
        height: auto; }
        .section-future .image-mobile .section-future_tab-content-image {
          display: block; } }

.navigation_bar {
  background-color: #ffffff;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navigation_bar-logo {
  width: 100%;
  max-width: 75px; }

.navigation_bar-logo-image {
  width: 100%;
  max-width: 75px;
  height: 18px; }

.navigation_bar-burger-icon {
  display: none; }
  @media (max-width: 768px) {
    .navigation_bar-burger-icon {
      display: block; } }

.navigation_bar-block-desktop {
  max-width: 540px;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .navigation_bar-block-desktop {
      max-width: 1px; } }

.navigation_bar-item {
  max-width: 470px;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .navigation_bar-item {
      display: none;
      position: absolute;
      width: 100%;
      height: 300px;
      opacity: 1;
      top: 100px;
      left: 0;
      transition: 0.9s;
      max-width: 100%;
      padding: 0 15px;
      box-sizing: border-box; } }

.navigation_bar-item-link {
  text-decoration: none;
  font-size: 14px;
  color: #383838; }
  @media (max-width: 760px) {
    .navigation_bar-item-link {
      border-bottom: 1px solid #ffffff;
      background-color: #e9e9e9;
      transition: 0.5s;
      height: 50px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .navigation_bar-item-link:hover {
        background-color: #a0c5db; } }

.navigation_bar-item-basket {
  max-width: 27px;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end; }

.navigation_bar-basket-image {
  width: 26px;
  height: 19px; }

.nav-menu {
  display: none;
  font-size: 25px;
  color: #4a4a4a; }

@media (max-width: 760px) {
  .nav-menu {
    display: block; }
  .active {
    display: block;
    visibility: visible; } }

.responsive-mobile {
  max-width: 100%;
  height: auto; }

.section-tabs_block-description::-webkit-scrollbar {
  display: none; }
