.wrapper {
  max-width: 1062px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box; }

.announcement-bar {
  background-color: #a0c5db;
  width: 100%;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .announcement-bar_description {
    display: flex; }
  .announcement-bar_text-updated {
    font-size: 14px;
    font-family: 'TTNorms',sans-serif;
    color: #ffffff; }
  .announcement-bar_text-learn {
    font-size: 14px;
    font-family: 'TTNorms',sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-left: 10px;
    border-bottom: 1px solid #ffffff;
    text-decoration: none; }

.main-title {
  font-family: TTNorms;
  font-weight: bold;
  line-height: 1.18;
  color: #363636; }

.main-text {
  font-family: TTNorms;
  font-size: 16px;
  line-height: 1.63;
  color: #383838; }

.section-tabs {
  background-color: #f4f4f4;
  padding: 61px 0 70px; }
  .section-tabs_title {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 9px;
    font-size: 34px;
    text-align: center; }
    @media (max-width: 600px) {
      .section-tabs_title {
        font-size: 28px; } }
  .section-tabs_text {
    width: 100%;
    max-width: 623px;
    margin: 0 auto 59px;
    text-align: center; }
  .section-tabs_box-headings {
    width: 100%;
    max-width: 707px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 38px; }
  .section-tabs_headings-link {
    font-family: TTNorms;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #ababab;
    cursor: pointer; }
  .section-tabs .active, .section-tabs_headings-link:hover {
    color: #4b94c6; }
  .section-tabs_container-panels {
    background-color: #ffffff;
    width: 100%;
    max-width: 1062px;
    margin: 0 auto;
    padding: 62px 73px 129px 65px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 0 44px 10px #dedede; }
  .section-tabs_block-description {
    width: 100%;
    max-width: 372px; }
  .section-tabs_block-description-title {
    font-size: 24px;
    line-height: 1.33; }
  .section-tabs_block-description-text {
    font-size: 16px;
    line-height: 1.63;
    color: #4e4e4e;
    margin: 22px 0 0 0; }
  .section-tabs_block-circle {
    width: 100%;
    max-width: 415px;
    height: 415px; }
  .section-tabs_block-circle-image {
    width: 100%;
    max-width: 415px;
    height: 415px; }

.section-future {
  background-color: #ffffff;
  padding: 61px 0 112px 0; }
  .section-future_title {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px; }
    @media (max-width: 600px) {
      .section-future_title {
        font-size: 28px; } }
  .section-future_paragraph {
    text-align: center;
    width: 100%;
    max-width: 600px;
    height: 86px;
    margin: 0 auto 47px; }
  .section-future_tab {
    display: flex;
    justify-content: space-between; }
  .section-future_tab-description {
    width: 100%;
    max-width: 372px; }
  .section-future_tab-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ababab;
    cursor: pointer; }
  .section-future .active-drop, .section-future_tab-title:hover {
    color: #383838; }
  .section-future_tab-block-swype {
    display: flex;
    justify-content: space-between; }
  .section-future_tab-paragraph {
    font-size: 16px;
    color: #383838; }
  .section-future_tab-line {
    border-bottom: 1px solid #d7d7d7;
    margin: 22px 0 22px 0; }
  .section-future_tab-content {
    box-shadow: 0 0 44px 10px #dedede; }
  .section-future_tab-content-image {
    width: 100%;
    max-width: 467px;
    height: 428px; }
    @media (max-width: 992px) {
      .section-future_tab-content-image {
        display: none; } }
  .section-future_tab-arrow-block {
    height: 15px; }
  .section-future_tab-arrow-image {
    transform: rotate(180deg); }
  .section-future_tab-arrow-image_active {
    transform: rotate(0deg); }
  .section-future .image-mobile {
    width: 100%;
    max-width: 467px;
    height: 428px;
    display: none; }
    @media (max-width: 980px) {
      .section-future .image-mobile {
        display: block; }
        .section-future .image-mobile .section-future_tab-content-image {
          display: block; } }

.menu-toggle {
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: block; }

.navigation_bar {
  background-color: #ffffff;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navigation_bar-logo {
  width: 100%;
  max-width: 75px; }

.navigation_bar-logo-image {
  width: 100%;
  max-width: 75px;
  height: 18px; }

.navigation_bar-item {
  max-width: 470px;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .navigation_bar-item {
      display: none; } }

.navigation_bar-item-link {
  text-decoration: none;
  font-size: 14px;
  color: #383838; }

#alala {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none; }
  #alala .tabs_block-description {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px; }
  #alala .tabs_block-description::-webkit-scrollbar {
    display: none; }
