.header

  &_polices-bar
    background-color: #a0c5db
    width: 100%
    height: 39px
    display: flex
    align-items: center
    justify-content: center

  &_polices-bar-wrapper
    display: flex
    flex-direction: row
    overflow: hidden

  &_polices-bar-text
    font-size: 14px
    font-family: 'TTNorms', sans-serif
    color: #ffffff

  &_polices-bar-link
    font-size: 14px
    font-family: 'TTNorms', sans-serif
    color: #ffffff
    font-weight: bold
    margin-left: 10px
    border-bottom: 1px solid #ffffff
    text-decoration: none
    cursor: pointer

.main-nav
  background-color: #ffffff
  height: 61px
  display: flex
  align-items: center
  justify-content: space-between

  &_burger
    display: none
    font-size: 22px
    color: #4a4a4a
  @media (max-width: 768px)
    &_burger
      display: block
    .main-nav_active-list
      display: block
      visibility: visible

  &_logo-wrapper
    width: 100%
    max-width: 75px

  &_logo
    max-width: 75px
    height: 18px

  &_desktop
    //max-width: 470px
    width: 100%
    display: flex
    //justify-content: space-between
    justify-content: flex-end
    @media (max-width: 768px)
      display: none
      position: absolute
      top: 100px
      left: 0
      padding: 0 15px
      box-sizing: border-box

  &_item-link
    text-decoration: none
    font-size: 14px
    color: #383838
    font-family: TTNorms, sans-serif
    margin: 0 0 0 30px
    &:hover
      color: #a0c5db
    @media (max-width: 768px)
      border-bottom: 1px solid #ffffff
      background-color: #e9e9e9
      height: 50px
      border-radius: 5px
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      margin: 0
      &:hover
        background-color: #a0c5db

.basket-wrapper
  max-width: 27px
  width: 100%
  height: 20px
  margin: 0 0 0 30px
  @media (max-width: 768px)
    margin: 0
